@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
  color: #bdffe6;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #abe9ff;
  padding: 2rem 0 2rem 0;
  justify-self: center;
}

h2 {
  padding-bottom: 1rem;
}

.safety-list {
  background-color: #2f4c41;
  padding: 2rem;
  border-radius: 1.5rem;
}

.safety-row {
  padding-top: 0.7rem;
}

label {
  padding-left: 1rem;
}
